@model Standard.Dept

@{
    ViewBag.Title = "Cập nhật bộ phận";
    var lst = new List<WebLib.Models.fwUser>();
    var lstG = new WebLib.DAL.fwGroupDAL().ListAll();
    if (Model.ID != 0)
    {
        var g = new WebLib.Models.fwGroup() { ID = Model.GroupID };
        lst = g.fwUser;
    }
    else
    {
        if(lstG.Count > 0)
        {
            var g = new WebLib.Models.fwGroup() { ID = lstG.First().ID };
            lst = g.fwUser;
        }
    }
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#GroupID").change(function () {
                var id = $("#GroupID").val();
                var url = '@Url.Action("ListUser", "Dept")' + "?g=" + id;
                $.ajax({
                    url: url, success: function (result) {
                        $("#LeaderUserID").html(result);
                    }
                });
            });
        });
    </script>
}
<h3>Cập nhật bộ phận</h3>

@using (Html.BeginForm("Edit", "Dept", new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label for="Title" class="control-label col-md-2">Tên bộ phận <span class="color-red">*</span></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            <label for="GroupID" class="control-label col-md-2">Group <span class="color-red">*</span></label>
            <div class="col-md-10">
                <select name="GroupID" id="GroupID" class="form-control">
                    @foreach (var item in lstG)
                    {
                        <option value="@item.ID" @(Model.GroupID == item.ID ? "selected" : null)>@item.Title</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.GroupID)
            </div>
        </div>
        <div class="form-group">
            <label for="LeaderUserID" class="control-label col-md-2">Trưởng bộ phận</label>
            <div class="col-md-10" id="LeaderUserID">
                <select name="LeaderUserID" class="form-control">
                    <option value=""> -:- </option>
                    @if (lst.Count > 0)
                    {
                        foreach (var item in lst)
                        {
                            <option value="@item.ID" @(Model.LeaderUserID == item.ID ? "selected" : null)>@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Request.QueryString["returnUrl"]" class="btn btn-default">Hủy</a>
            </div>
        </div>
    </div>
}