@model Ticket
@using WebLib.DAL
@{
    Model.Type = Model.Type == 0 ? 1 : Model.Type;
    var currentUser = fwUserDAL.GetCurrentUser();
    var listTickKet = Model.TicketDetails.ToList();
    var listDept = (List<Dept>)ViewBag.listDept;
    var currentRequest = Request.QueryString["returnUrl"];
    var returnUrl = !string.IsNullOrEmpty(currentRequest) ? currentRequest : Url.Action("Index");
    ViewBag.Title = "ĐỀ NGHỊ DỤNG CỤ LÀM VIỆC/ REQUEST FOR WORKING FACILITIES";
    var listFiles = !string.IsNullOrEmpty(Model.FilePath) ? Model.FilePath.Split(new string[] { ";#" }, StringSplitOptions.RemoveEmptyEntries) : new string[0];
    var listTicketType = DB.Entities.TicketType.ToList();
}


@section style{
    <link href="~/Content/lib/ma/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/css/ticket.css" rel="stylesheet" />
}
<style>
    #mainTable {
        margin-bottom: 10px;
    }

        #mainTable tbody tr td, #mainTable tfoot tr td {
            padding-bottom: 0;
        }

            #mainTable tbody tr td:not(.noedit), #mainTable tfoot tr td:not(.noedit) {
                padding: 0;
            }

    .card .card-body.card-padding {
        overflow: inherit;
    }
</style>



@section  scripts{
    <script src="~/Content/lib/ma/js/moment-with-locales.js"></script>
    <script src="~/Content/lib/ma/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/js/ticket.js"></script>
    <script src="~/Content/lib/ma/js/fileinput.min.js"></script>
    <script src="~/Content/js/jquery.hotkeys-0.7.9.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).bind('keydown', 'ctrl+r', function () {
                AddRows('#mainTable');
                return false;
            });

            $(document).on('keydown', '#mainTable tr:last-child td:last-child input', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode == 9) {
                    AddRows('#mainTable');
                    $(this).focus();
                }
            });
            $(document).on('keydown', 'input.edittable', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode == 13) {
                    return false;
                }
            });
        });
        //$('#mainTable').editableTableWidget();
        @if ((listTickKet == null) || (listTickKet != null && listTickKet.Count == 0))
        {
            @:AddRows('#mainTable');

        }
        
        $('.typeDate').datetimepicker({
               format: 'DD/MM/YYYY'//addInputForTableID('mainTable');
        });
        $('#mainTable').find('td:nth(1) input').focus();

    </script>
}


@using (Html.BeginForm(null, null, new { returnUrl = returnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("isSend", true)
    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("listTicketDetailJson")

    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" onclick="return CheckTicket(false);">Lưu lại</button>
            <button type="submit" class="btn btn-primary" onclick="return CheckTicket(true);">Gửi phiếu đề nghị</button>
            <a href="@returnUrl" class="btn btn-default">Hủy</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Độ khẩn</label>
                    <div class="select">
                        <select class="form-control" name="DoKhan">
                            <option value="@DoKhan.BinhThuong" @(Model.DoKhan == DoKhan.BinhThuong.ToString() ? "selected" : "")>@DoKhan.Title[DoKhan.BinhThuong]</option>
                            <option value="@DoKhan.Khan" @(Model.DoKhan == DoKhan.Khan.ToString() ? "selected" : "")>@DoKhan.Title[DoKhan.Khan]</option>
                            <option value="@DoKhan.RatKhan" @(Model.DoKhan == DoKhan.RatKhan.ToString() ? "selected" : "")>@DoKhan.Title[DoKhan.RatKhan]</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in listTicketType)
            {
                <label class="checkbox checkbox-inline m-r-20">
                    <input type="checkbox" class="onCheckbox" name="Type" value="@item.ID" @(item.ID == Model.Type ? "checked" : "")>
                    <i class="input-helper"></i>
                    @item.Title
                </label>
            }
            <div id="loaiticket" class="hide has-error">
                <small id="loaiticket" class="help-block">Bạn phải chọn một trong @listTicketType.Count loại trên!</small>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Ngày đề nghị</label>
                    <input type="text" name="NgayDenghi" value="@Model.Created.ToString("dd/MM/yyyy")" class=" form-control fg-input typeDate" />
                </div>

            </div>
        </div><div class="col-sm-4">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Người đề nghị</label>
                    <input type="text" name="NguoiDeNghi" value="@(currentUser != null ? currentUser.UserName : "")" class=" form-control fg-input" readonly="readonly" />
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Bộ phận</label>
                    <div class="select">
                        <select class="form-control" name="DeptID">
                            @foreach (var item in listDept)
                            {
                                <option value="@item.ID" @(item.ID == Model.DeptID ? "selected='selected'" : "")>@item.Title</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <table id="mainTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th width="10">
                            TT<br />
                            @*<i>No</i>*@
                        </th>
                        <th>
                            Diễn giải <br />
                            @*<i>Description</i>*@
                        </th>
                        <th width="50">
                            SL<br />
                            @*<i>Q'tty</i>*@
                        </th>
                        <th>
                            Mục đích, lý do<br />
                            @*<i>Perpose, Reason</i>*@
                        </th>
                        <th>
                            Ngày cần<br />
                            @*<i>Date require (dd/mm/yyyy)</i>*@

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (listTickKet != null && listTickKet.Count > 0)
{
    var dem = 1;
    foreach (var item in listTickKet)
    {
        <tr class="trtableedit">
            <td class="noedit">
                @(dem++)
            </td>
            <td>
                <input type="text" class="edittable" value="@item.Title"  />
            </td>
            <td class="typeNumber">
                <input type="text" class="edittable typeNumber" value="@item.Quantity" />
            </td>
            <td>
                <input type="text" class="edittable" value="@item.Reason" />
            </td>
            <td class="typeDate">
                <input type="text" class="edittable typeDate" value="@item.DateRequire" />
            </td>
        </tr>
    }
}
                </tbody>
            </table>
            <div id="loaiticketDetail" class="hide has-error">
                <small id="loaiticket" class="help-block">Bạn phải thêm ticket detail trước.</small>
            </div>
            <div></div>
            <button class="pull-right btn btn-primary btn-xs" onclick="AddRows('#mainTable'); return false;"><i class="md md-add"></i> Thêm dòng</button>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-12">
            <div id="ListFile">
                @if (Model.ID == 0)
                {
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn-file">
                            <a href="#" class="fileinput-new"><i class="md md-attach-file"></i>Đính kèm tệp</a>
                            <input type="hidden"><input type="file" name="files" class="ticketFiles">
                        </span>
                        <a href="#" class="fileinput-filename"></a>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" onclick="removeAttachFile(this);">×</a>
                    </div>
                }
                @if (listFiles.Length > 0)
                {
                    <label>Danh sách tệp tin: </label>
                    <div class="clearfix"></div>
                    foreach (var item in listFiles)
                    {
                        var itemFileName = item.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
                        <a href="#">@itemFileName[itemFileName.Length - 1]</a><br />
                    }
                }
                <div class="clearfix"></div>
            </div>
            <a href="#" onclick="addAttachFile(); return false;" class="btn btn-primary btn-xs"><i class="md md-add"></i>Thêm tệp tin</a>
        </div>
    </div>
}
