@{
    var listTickKet = WebLib.SessionUtilities.Exist(Constant.SESSION_TicketDetails) ? (List<Standard.Models.TicketDetail>)WebLib.SessionUtilities.Get(Constant.SESSION_TicketDetails) : null;
    ViewBag.Title = "ĐỀ NGHỊ DỤNG CỤ LÀM VIỆC/ REQUEST FOR WORKING FACILITIES";
}
<link href="~/Content/css/ticket.css" rel="stylesheet" />
@section  scripts{
    <script src="~/Content/js/ticket.js"></script>
}


@using (Html.BeginForm(null, null, new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" onclick="return CheckTicket();">Gửi đề nghị</button>
        <a href="@Request.QueryString["returnUrl"]" class="btn btn-default">Hủy</a>
    </div>
    <br />
    <br />
    <br />
    <div class="col-sm-12">
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="1">
            <i class="input-helper"></i>
            (1) Mua <br /><i>Purchase</i>
        </label>
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="2">
            <i class="input-helper"></i>
            (2) Thay thế<br /><i>Replacement</i>
        </label>
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="3">
            <i class="input-helper"></i>
            (3) Bảo trì, sửa chữa<br /><i>Maintenance/Repair</i>
        </label>
        <div id="loaiticket" class="col-md-offset-2 hide field-validation-error">Bạn phải chọn một trong 3 loại trên!</div>
    </div>
    <br /><br />
    <br />
    <br />
    <div class="col-sm-4">
        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" name="NgayDenghi" value="@DateTime.Now.ToString("dd/MM/yyyy")" class=" form-control fg-input" readonly="readonly" />
            </div>
            <label class="fg-label">Ngày đề nghị</label>
        </div>
    </div><div class="col-sm-4">
        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" name="NguoiDeNghi" value="@(Standard.Controllers.DB.CurrentUser.Identity.Name)" class=" form-control fg-input" readonly="readonly" />
            </div>
            <label class="fg-label">Người đề nghị</label>
        </div>
    </div><div class="col-sm-4">
        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="select">
                    <select class="form-control" name="DeptID">
                        @foreach (var item in Standard.DB.Entities.Dept)
                        {
                            <option value="@item.ID">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <label class="fg-label">Bộ phận</label>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    TT<br />
                    <i>No</i>
                </th>
                <th>
                    Diễn giải <br />
                    <i>Description</i>
                </th>
                <th>
                    SL<br />
                    <i>Q'tty</i>
                </th>
                <th>
                    Mục đích, lý do<br />
                    <i>Perpose, Reason</i>
                </th>
                <th>
                    Ngày cần<br />
                    <i>Date require</i>
                </th>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            @if (listTickKet != null && listTickKet.Count > 0)
            {
                foreach (var item in listTickKet)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.DienGiai
                        </td>
                        <td>
                            @item.SoLuong
                        </td>
                        <td>
                            @item.LyDo
                        </td>
                        <td>
                            @item.NgayCan
                        </td>
                        <td>
                            <a href="#" class="color-red" onclick="return removeTicketDetail('@item.Id',this);"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="loaiticketDetail" class="col-md-offset-2 hide field-validation-error">Bạn phải thêm ticket detail trước.</div>
    <br />
    <div id="frmChiTietYeuCau">
        <div class="col-sm-12">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="text" id="DienGiai" name="DienGiai" value="" class="form-control fg-input" />
                </div>
                <label class="fg-label">Diễn giải <i>Description</i></label>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <textarea class="form-control fg-input" id="MucDich" rows="3" name="MucDich"></textarea>
                </div>
                <label class="fg-label">
                    Mục đích, lý do
                    <i>Perpose, Reason</i>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="number" id="Quantity" name="Quantity" value="" class="form-control fg-input" />
                </div>
                <label class="fg-label">
                    Số lượng
                    <i>Quantity</i>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="date" id="NgayCan" name="NgayCan" value="" class="form-control fg-input" />
                </div>
                <label class="fg-label">
                    Ngày cần
                    <i>Date require</i>
                </label>
                <br />
                <div id="messerror" class="hide field-validation-error">Bạn cần nhập đẩy đủ thông tin trên!</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
            <a href="#" class="btn btn-primary btn-xs" id="ThemChiTiet"> Thêm chi tiết</a>
        </div>

    </div>

}
