@model Ticket
@using WebLib.DAL
@using Standard.Controllers
@{
    var currentUser = fwUserDAL.GetCurrentUser();
    var createby = new fwUserDAL().GetByID(Model.CreatedBy);
    var listTickKet = Model.TicketDetails;
    var dept = DB.Entities.Dept.FirstOrDefault(m => m.ID == Model.DeptID);
    var listType = new[] { "", "", "", "" };
    listType[Model.Type] = "checked='checked'";
    var currentRequest = Request.QueryString["returnUrl"];
    var returnUrl = !string.IsNullOrEmpty(currentRequest) ? currentRequest : Url.Action("Index");
    ViewBag.Title = "ĐỀ NGHỊ DỤNG CỤ LÀM VIỆC/ REQUEST FOR WORKING FACILITIES";
}
<link href="~/Content/css/ticket.css" rel="stylesheet" />
@section  scripts{
    <script src="~/Content/js/ticket.js"></script>
}
<style>

</style>

@using (Html.BeginForm(null, null, new { returnUrl = returnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("isSend", true)
    @Html.HiddenFor(m => m.ID)

    @Html.ValidationSummary(true)
    <div class="col-sm-12 process-circle">
        @for (int i = 0; i < TicketStatus.TicketStatusTitle.Length; i++)
        {
            if (Model.Status == i)
            {
                <button class="btn bgm-amber waves-effect" onclick="return false;">@TicketStatus.TicketStatusTitle[i]</button>
            }
            else
            {
                <button class="btn bgm-gray waves-effect" disabled="disabled">@TicketStatus.TicketStatusTitle[i]</button>
            }
            if (i != TicketStatus.TicketStatusTitle.Length - 1)
            {
                <button class="btn btn-default btn-xs btn-icon waves-effect waves-circle waves-float" disabled="disabled"><i class="md md-arrow-forward"></i></button>
            }
        }
    </div>
    <div class="process-circle">
        <br /><hr />
        <br />
    </div>
    <div class="col-sm-12">
        @if (Model.Status == TicketStatus.KhoiTao && Model.Current == DB.CurrentUser.ID)
        {
            <button type="submit" class="btn btn-primary waves-effect" onclick="return CheckTicket(true);"><i class="md md-check"></i> Gửi yêu cầu</button>
        }
        @if (TicketController.CanThongQua(Model))
        {
            <button onclick="location.href='@Url.Action("ThongQua", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Thông qua</button>
        }
        @if (TicketController.CanKiemDuyet(Model))
        {
            <button onclick="location.href='@Url.Action("KiemDuyet", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Đồng ý kiểm duyệt</button>
        }
        @if (TicketController.CanDuyet(Model))
        {
            <button onclick="location.href='@Url.Action("Duyet", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Phê duyệt</button>
        }
        <button onclick="history.back();" class="btn btn-default waves-effect">Quay lại</button>
    </div>
    <br />
    <br />
    <br />
    <div class="col-sm-12">
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="1" @(listType[1]) disabled />
            <i class="input-helper"></i>
            (1) Mua <br /><i>Purchase</i>
        </label>
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="2" @(listType[2]) disabled />
            <i class="input-helper"></i>
            (2) Thay thế<br /><i>Replacement</i>
        </label>
        <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" class="inlineCheckbox1" name="Type" value="3" @(listType[3]) disabled />
            <i class="input-helper"></i>
            (3) Bảo trì, sửa chữa<br /><i>Maintenance/Repair</i>
        </label>
    </div>
    <br /><br />
    <br />
    <div class="col-sm-4">
        <span>Ngày đề nghị: </span><h4 class="color-blue">@Model.Created.ToString("dd/MM/yyyy")</h4>
    </div>
    <div class="col-sm-4">
        <span>Người đề nghị: </span><h4 class="color-blue">@createby.Name</h4>
    </div>
    <div class="col-sm-4">
        <span>Bộ phận: </span><h4 class="color-blue">@dept.Title</h4>
    </div> <br />
    <br />
    <div class="col-sm-12">
        <table class="table table-striped table-vmiddle @(listTickKet!=null && listTickKet.Count > 0 ? "" : "hide")">
            <thead>
                <tr>
                    <th>
                        TT<br />
                        <i>No</i>
                    </th>
                    <th>
                        Diễn giải <br />
                        <i>Description</i>
                    </th>
                    <th>
                        SL<br />
                        <i>Q'tty</i>
                    </th>
                    <th>
                        Mục đích, lý do<br />
                        <i>Perpose, Reason</i>
                    </th>
                    <th>
                        Ngày cần<br />
                        <i>Date require</i>
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>
                @if (listTickKet != null && listTickKet.Count > 0)
                {
                    var dem = 1;
                    foreach (var item in listTickKet)
                    {
                        <tr>
                            <td>
                                @(dem++)
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Reason
                            </td>
                            <td>
                                @item.DateRequire.ToString("dd/MM/yyyy")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
    </div>
    <br />
}
<div id="frmChiTietYeuCau">
    @using (Html.BeginForm("PhanHoi", "Ticket", FormMethod.Post))
    {
        <div class="col-sm-12">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>
                        Ý kiến phản hồi
                    </label>
                    <textarea class="form-control fg-input input-lg" id="txtPhanHoi" rows="3" name="ykien"></textarea>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div id="messerror" class="hide field-validation-error">Bạn cần nhập ý kiến phản hồi!</div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-icon-text waves-effect"><i class="md md-arrow-back"></i>  Phản hồi</button>
        </div>
    }
</div>

