@model List<Ticket>

@{
    ViewBag.Title = "Các phiếu yêu cầu";
    var userDAL = new WebLib.DAL.fwUserDAL();
    var listColor = new[] { "danger", "warning", "primary", "info", "success" };
    var status = Request.QueryString["status"];
}
@section  scripts{
    <script src="~/Content/js/ticket.js"></script>
}

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Create", new { returnUrl = Request.RawUrl })" class="btn btn-primary">Tạo phiếu yêu cầu</a>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="col-sm-9">
                <div class="fg-line">
                    <div class="select">
                        <select class="form-control" id="TicketStatusChange">
                            <option value=""> Chờ tôi xử lý </option>
                            @for (int i = 0; i < TicketStatus.TicketStatusTitle.Length; i++)
                            {
                                <option value="@i" @(i.ToString() == status ? "selected" : "")>@TicketStatus.TicketStatusTitle[i]</option>
                            }
                            <option value="-1" @("-1" == status ? "selected" : "")> Tất cả </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Người yêu cầu</th>
                    <th>Nội dung</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                var u = userDAL.GetByID(item.CreatedBy);
                var first = item.TicketDetails.FirstOrDefault();
                string title = first != null ? first.Title : "";
                <tr>
                    <td>
                        @if (DB.CurrentUser.ID == item.Current)
                        {
                            <b><a href="@Url.Action("Details", new { id = item.ID })">@(u == null ? null : u.Name)</a></b>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", new { id = item.ID })">@(u == null ? null : u.Name)</a>
                        }
                    </td>
                    <td>
                        @if (DB.CurrentUser.ID == item.Current)
                        {
                            <b><a href="@Url.Action("Details", new { id = item.ID })">@title</a></b>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", new { id = item.ID })">@title</a>
                        }

                    </td>
                    <td>
                        <button class="btn btn-@listColor[item.Status] btn-xs" disabled="disabled">@TicketStatus.TicketStatusTitle[item.Status]</button>
                    </td>
                    <td>
                        @if ((DB.CurrentUser.ID == item.Current && item.Status == CheckoutStatus.KhoiTao) || new WebLib.DAL.fwUserDAL().UserInRole(RoleList.SystemManager))
                        {
                            <a href="@Url.Action("Delete", new { id = item.ID, returnUrl = Request.RawUrl })" class="confirmDelete">Xóa</a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
