@model Standard.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập hệ thống";
}

<div class="col-md-8">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="has-error">
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group fg-line">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Nhập username">
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group fg-line">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Nhập password">
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="RememberMe" id="RememberMe">
                        <i class="input-helper"></i>
                        Ghi nhớ
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Đăng nhập
                </button>                
                <br/> <br />
                <p>
                    @Html.ActionLink("Đăng ký", "Register") nếu bạn chưa có tài khoản.
                </p>
            </div>
        }
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}