<!DOCTYPE html>
<!-- saved from url=(0067)http://192.185.228.226/projects/ma/v1-4-1/jQuery/form-elements.html -->
<html style="overflow: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VAN LAACK @ViewBag.Title</title>

    <!-- Vendor CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href="/Content/lib/ma/css/animate.min.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/sweetalert-override.min.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/material-design-iconic-font.min1.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/socicon.min.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/Content/lib/ma/css/app.min.1.css" rel="stylesheet">
    <link href="/Content/lib/ma/css/app.min.2.css" rel="stylesheet">
    <link href="/Content/css/common.css" rel="stylesheet">
    <link href="/Content/css/ma-site.css" rel="stylesheet">
</head>

<body class="toggled sw-toggled">
    <header id="header">
        @Html.Partial("_ma-Notification")
        <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect">Lưu</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <input type="text">
            <i id="top-search-close">×</i>
        </div>
    </header>

    <section id="main">
        @Html.Partial("_ma-leftmenu")
        <section id="content">
            <div class="container">
                <div class="block-header">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="card">
                    <div class="card-body card-padding">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </section>
    </section>

    <footer id="footer">
        Copyright © 2015 Van Laack
        <!-- Modal Default -->
        <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper. Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla. Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect">Save changes</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Javascript Libraries -->
    <script src="/Content/lib/ma/js/jquery.min.js"></script>
    <script src="/Content/lib/ma/js/bootstrap.min.js"></script>

    <script src="/Content/lib/ma/js/jquery.nicescroll.min.js"></script>
    <script src="/Content/lib/ma/js/waves.min.js"></script>
    <script src="/Content/lib/ma/js/bootstrap-growl.min.js"></script>
    <script src="/Content/lib/ma/js/sweetalert.min.js"></script>
    <script src="/Content/lib/ma/js/moment.min.js"></script>
    <script src="/Content/lib/ma/js/autosize.min.js"></script>
    <script src="/Content/lib/ma/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/lib/ma/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/lib/ma/js/charts.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <script src="/Content/lib/ma/js/functions.js"></script>
    <script src="/Content/lib/ma/js/demo.js"></script>
    <script src="/Content/js/common.js"></script>
    <script src="/Content/js/ma-layout.js"></script>
    @RenderSection("scripts", required: false)
    @{
        var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
    }
    <script type="text/javascript">
        function getController() {
            return "@routeValues["controller"]";
        }
        function getAction() {
            return "@routeValues["action"]";
        }
    </script>

    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: auto; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: block; opacity: 0;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 158px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.298039); background-clip: padding-box;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: auto; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 1366px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.298039); background-clip: padding-box;"></div></div>
</body>
</html>