@using WebLib.DAL
@{
    var listMenu = DB.CurrentUser == null ? new List<WebLib.Models.fwMenu>() : new fwMenuDAL().ListByUser(DB.CurrentUser.ID);
}
<aside id="sidebar">
    <div class="sidebar-inner c-overflow" tabindex="3" style="overflow: hidden; outline: none;">
        <div class="profile-menu">
            <a href="">
                <div class="profile-pic">

                </div>
                <div class="profile-info">
                    Malinda Hollaway
                </div>
            </a>
        </div>
        <ul class="main-menu">
            @foreach (var item in listMenu.Where(m => m.ParentID == 0))
            {
                var listChild = listMenu.Where(m => m.ParentID == item.ID).ToList();
                <li class="@(listChild.Count > 0? "sub-menu":"")">
                    <a href="@item.Url" data-href="@(item.SubAction+"/")">
                        @*<i class="@item.Icon"></i>*@
                        <i class="md md-now-widgets"></i> @item.Title
                        @if (listChild.Count > 0)
                        {
                            <span class="fa arrow"></span>
                        }
                    </a>
                    @if (listChild.Count > 0)
                    {
                        <ul>
                            @foreach (var itemChild in listChild)
                            {
                                <li>
                                    <a href="@itemChild.Url" data-href="@(itemChild.SubAction+"/")"> <i class="md md-now-widgets"></i> @itemChild.Title</a>
                                </li>
                            }
                        </ul>
                    }

                </li>
            }
        </ul>
    </div>
    <div id="ascrail2004" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 5; cursor: default; position: absolute; top: 0px; left: 263px; height: 534px; display: block; opacity: 0.175275975834908;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 373px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div>
    <div id="ascrail2004-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 5; top: 529px; left: 0px; position: absolute; cursor: default; display: none; width: 263px; opacity: 0.175275975834908;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 268px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div>
</aside>