@model Checkout
@using WebLib.DAL
@{
    var currentUser = fwUserDAL.GetCurrentUser();
    var listCheckout = WebLib.SessionUtilities.Exist(Constant.SESSION_CheckoutDetails) ? (List<CheckoutDetails>)WebLib.SessionUtilities.Get(Constant.SESSION_CheckoutDetails) : null;
    ViewBag.Title = "ĐỀ NGHỊ THANH TOÁN/ PAYMENT VOUCHER";
    var listType = new[] { "", "", "" };
    if (Model.PaymentMethod.HasValue)
    {
        listType[Model.PaymentMethod.Value] = "checked='checked'";
    }
    var listIDGRoup = currentUser.fwGroup.Select(m => m.ID).ToList();
    var currentDept = DB.Entities.Dept.Where(m => listIDGRoup.Contains(m.GroupID)).ToList();

    var listDetail = Model.CheckoutDetails;
    var ticketID = Model.ID == 0 ? int.Parse(Request.QueryString["ticketID"]) : DB.Entities.Ticket.FirstOrDefault(m => m.CheckoutID == Model.ID).ID;
    var db = DB.Entities;
    var tick = db.Ticket.FirstOrDefault(m => m.ID == ticketID);
    var ticketTitle = tick.Created.ToString("dd/MM/yyyy") + " - " + tick.TicketDetails.FirstOrDefault().Title + " ...";

    var lstChkDetails = Model.ID == 0 ? new List<CheckoutDetails>() : db.CheckoutDetails.Where(m => m.CheckoutID == Model.ID).ToList();
    if (Model.ID == 0)
    { 
        foreach (var item in tick.TicketDetails)
        {
            lstChkDetails.Add(new CheckoutDetails() { Title = item.Title, ID = item.ID });
        }
    }
}
<style>
    .table > thead > tr > th {
        background: #eeeeee;
    }
</style>



@section style{
    <link href="/Content/lib/ma/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

}
@section  scripts{
    <script src="/Content/lib/ma/js/moment.min.js"></script>
    <script src="/Content/lib/ma/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/lib/edit-table/editabletable.js"></script>
    @*<script src="~/Content/lib/edit-table/numeric-input.js"></script>*@
    <script>
        $('#mainTable').editableTableWidget();
        @if ((lstChkDetails == null) || (lstChkDetails != null && lstChkDetails.Count == 0))
        {
            @:AddRows('#mainTable');
                                                                                                        }
        $('#mainTable').find('td:nth(4)').focus().click();
        AddEventEditTable();
    </script>

    <script src="~/Content/js/checkout.js"></script>
    <script>
        $('table td.typeNumber').on('change', function (evt, newValue) {
            // do something with the new cell value
            TinhTien();
        });
    </script>
}


@using (Html.BeginForm(null, null, new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("isSend", true)
    @Html.Hidden("ticketID", ticketID)
    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("listCheckoutDetailJson")
    @Html.Hidden("tamUng")
    @Html.Hidden("phiNganHang")
    @Html.HiddenFor(m => m.InWords)


    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12">
            @*<button type="submit" class="btn btn-primary" onclick="return CheckCheckout(false);">Lưu lại</button>*@
            <button type="submit" class="btn btn-primary" onclick="return CheckCheckout(true);"> @(Model.ID == 0 ? "Gửi đề nghị" : "Thanh toán")</button>
            <a href="@Request.QueryString["returnUrl"]" class="btn btn-default">Hủy</a>
        </div>
    </div>
    <br />

    <div class="validationWrapper">
        <div class="row">
            <div class="col-sm-12">
                <span>Từ phiếu yêu cầu: </span><span style="font-size:1.1em; font-weight:bold; color:blue">@ticketTitle</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <label>
                            Ngày
                            @*<i>(Dated)</i>*@
                        </label>
                        <input type="text" name="PaymentDate" value="@Model.Created.ToString("dd/MM/yyyy")" class=" form-control date-picker" data-toggle="dropdown" aria-expanded="false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <label>
                            Số ghi sổ
                            @*<i>(No)</i>*@
                        </label>
                        <input type="text" name="No" value="@Model.No" class=" form-control fg-input" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <label>
                            Người hưởng
                            @*<i>(Ben)</i>*@
                        </label>
                        <input type="text" name="Ben" value="@Model.Ben" class=" form-control fg-input" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <label>
                            Phòng
                            @*<i>(Dept)</i>*@
                        </label>
                        <div class="select">
                            <select class="form-control" name="DeptID">
                                @foreach (var item in currentDept)
                                {
                                    <option value="@item.ID" @(item.ID == Model.DeptID ? "selected='selected'" : "")>@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-4">
                Hình thức thanh toán
                @*<i>(Payment method)</i>*@
                :
            </label>
            <div class="col-md-8">
                <label class="checkbox checkbox-inline m-r-20">
                    <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="0" @listType[0] />
                    <i class="input-helper"></i>
                    Tiền mặt
                    @*<br /><i>(Cash)</i>*@
                </label>
                <label class="checkbox checkbox-inline m-r-20">
                    <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="1" @listType[1] />
                    <i class="input-helper"></i>
                    Chuyển khoản
                    @*<br /><i>(Bank transfer)</i>*@
                </label>
                <label class="checkbox checkbox-inline m-r-20">
                    <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="2" @listType[2] />
                    <i class="input-helper"></i>
                    Quyết toán tạm ứng
                    @*<br /><i>(Advance clearing)</i>*@
                </label>
                <div id="loaiticket" class="hide has-error">
                    <small id="loaiticket" class="help-block">Bạn phải chọn một trong 3 loại trên!</small>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" ng-app="myApp" ng-controller="myCtrl">
        <div class="col-md-12">
            <table id="mainTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" class="text-center">
                            Mã
                            @*<i>Dept</i>*@
                        </th>
                        <th colspan="2" class="text-center">
                            Chứng từ
                            @*<i>(Documents)</i>*@
                        </th>
                        <th rowspan="2" class="text-center">
                            Nội dung
                            @*<i>(Description)</i>*@
                        </th>
                        <th colspan="2" class="text-center">
                            Số tiền
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">
                            Số
                            @*<i>(No.)</i>*@
                        </th>
                        <th class="text-center">
                            Ngày (dd/mm/yyyy)
                            @*<i>(Date)</i>*@
                        </th>
                        <th class="text-center" width="150">
                            VNĐ
                        </th>
                        <th class="text-center" width="150">
                            USD/EUR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstChkDetails)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="typeDate"></td>
                            <td>@item.Title</td>
                            <td class="text-right typeNumber vndetail">@item.VND</td>
                            <td class="text-right typeNumber usdetail">@item.USD</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="noedit">
                            <strong>Cộng</strong>
                            @*<i>(Sub-total)</i>*@
                        </td>
                        <td class="text-right noChange vndCong">@Model.SumTotal</td>
                        <td class="text-right noChange usdCong">@Model.SumTotal</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="noedit">
                            <strong>Tạm ứng</strong>
                            @*<i>(Advance payment)</i>*@:
                        </td>
                        <td class="text-right typeNumber vndTamung">@Model.AdvandPayment</td>
                        <td class="text-right typeNumber usdTamung">@Model.AdvandPaymentUSD</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="noedit">
                            <strong>Phí ngân hàng</strong>
                            @*<i>(Bank charge)</i>*@:
                        </td>
                        <td class="text-right typeNumber vndPhiNH">@Model.BankingCharge</td>
                        <td class="text-right typeNumber usdPhiNH">@Model.BankingChargeUSD</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="noedit">
                            <strong>Tổng cộng</strong>
                            @*<i>(Total)</i>*@:
                        </td>
                        <td class="text-right noChange vndTongCong">@Model.Total</td>
                        <td class="text-right noChange usdTongCong">@Model.TotalUSD</td>
                    </tr>
                    <tr>
                        <td class="noedit">
                            <strong> Bằng chữ </strong>
                            @*<i>(in words): </i>*@         :
                        </td>
                        <td colspan="5" id="BangChu">@Model.InWords</td>
                    </tr>
                </tfoot>
            </table>
            <br />
            <div id="loaiCheckoutDetail" class="hide has-error">
                <small id="loaiCheckout" class="help-block">Bạn phải thêm Checkout detail trước.</small>
            </div>
        </div>
    </div>

}
