@model Checkout
@using WebLib.DAL
@using Standard.Controllers
@{
    var currentUser = fwUserDAL.GetCurrentUser();
    ViewBag.Title = "ĐỀ NGHỊ THANH TOÁN/ PAYMENT VOUCHER";
    var listType = new[] { "", "", "" };
    if (Model.PaymentMethod.HasValue)
    {
        listType[Model.PaymentMethod.Value] = "checked='checked'";
    }
    var listDept = (List<Dept>)ViewBag.listDept;
    var lstChkDetails = Model.CheckoutDetails;
    var dept = listDept.FirstOrDefault(m => m.ID == Model.DeptID);
}
<style>
    .table > thead > tr > th {
        background: #eeeeee;
    }
</style>
@section  scripts{
    <script src="~/Content/js/checkout.js"></script>
}



<div class="row">
    <div class="col-sm-12 process-circle">
        @for (int i = 0; i < CheckoutStatus.CheckoutStatusTitle.Length; i++)
        {
            if (Model.Status == i)
            {
                <button class="btn bgm-amber waves-effect" onclick="return false;">@CheckoutStatus.CheckoutStatusTitle[i]</button>
            }
            else
            {
                <button class="btn bgm-gray waves-effect" disabled="disabled">@CheckoutStatus.CheckoutStatusTitle[i]</button>
            }
            if (i != CheckoutStatus.CheckoutStatusTitle.Length - 1)
            {
                <button class="btn btn-default btn-xs btn-icon waves-effect waves-circle waves-float" disabled="disabled"><i class="md md-arrow-forward"></i></button>
            }
        }
    </div>
    <div class="process-circle">
        <br /><hr />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @if (RequestBillController.CanKiemTra(Model))
        {
            <button type="button" onclick="location.href='@Url.Action("KiemTra", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Đồng ý kiểm duyệt</button>
        }
        @if (RequestBillController.CanDuyet(Model))
        {
            <button type="button" onclick="location.href='@Url.Action("Duyet", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Phê duyệt</button>
        }
        @if (RequestBillController.CanThanhToan(Model))
        {
            <button type="button" onclick="location.href='@Url.Action("ThanhToan", new { id = Model.ID })'" class="btn btn-primary waves-effect"><i class="md md-check"></i> Thanh toán</button>
        }
        <button type="button" onclick="window.history.back();" class="btn btn-default waves-effect">Quay lại</button>
    </div>
</div>
<br />

<div class="validationWrapper">
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Ngày <i>(Dated)</i></label>
                    <input type="text" name="PaymentDate" value="@Model.Created.ToString("dd/MM/yyyy")" class=" form-control" readonly />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Số ghi sổ <i>(No)</i></label>
                    <input type="text" name="No" value="@Model.No" class=" form-control fg-input" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Người hưởng <i>(Ben)</i></label>
                    <input type="text" name="Ben" value="@Model.Ben" class=" form-control fg-input" readonly />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <label>Phòng <i>(Dept)</i></label>
                    <input type="text" name="DeptID" value="@(dept!=null?dept.Title:"")" class=" form-control fg-input" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Hình thức thanh toán <i>(Payment method)</i> : </label>
        <div class="col-md-8">
            <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="0" @listType[0] disabled />
                <i class="input-helper"></i>
                Tiền mặt <br /><i>(Cash)</i>
            </label>
            <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="1" @listType[1] disabled />
                <i class="input-helper"></i>
                Chuyển khoản <br /><i>(Bank transfer)</i>
            </label>
            <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" class="onCheckbox" name="PaymentMethod" value="2" @listType[2] disabled />
                <i class="input-helper"></i>
                Quyết toán tạm ứng <br /><i>(Advance clearing)</i>
            </label>
            <div id="loaiticket" class="hide has-error">
                <small id="loaiticket" class="help-block">Bạn phải chọn một trong 3 loại trên!</small>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12">
        <table id="mainTable" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">
                        Mã
                        @*<i>Dept</i>*@
                    </th>
                    <th colspan="2" class="text-center">
                        Chứng từ
                        @*<i>(Documents)</i>*@
                    </th>
                    <th rowspan="2" class="text-center">
                        Nội dung
                        @*<i>(Description)</i>*@
                    </th>
                    <th colspan="2" class="text-center">
                        Số tiền
                    </th>
                </tr>
                <tr>
                    <th class="text-center">
                        Số
                        @*<i>(No.)</i>*@
                    </th>
                    <th class="text-center">
                        Ngày (dd/mm/yyyy)
                        @*<i>(Date)</i>*@
                    </th>
                    <th class="text-center" width="150">
                        VNĐ
                    </th>
                    <th class="text-center" width="150">
                        USD/EUR
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstChkDetails)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="typeDate"></td>
                        <td>@item.Title</td>
                        <td class="text-right">@item.VND.ToString("N0")</td>
                        <td class="text-right">@(item.USD.HasValue ? item.USD.Value.ToString("N0") : "")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <strong>Cộng</strong>
                        @*<i>(Sub-total)</i>*@
                    </td>                    
                    <td class="text-right">@Model.SumTotal.ToString("N0")</td>
                    <td class="text-right">@(Model.SumTotalUSD.HasValue ? Model.SumTotalUSD.Value.ToString("N0") : "")</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <strong>Tạm ứng</strong>
                        @*<i>(Advance payment)</i>*@:
                    </td>
                    <td class="text-right">@(Model.AdvandPayment.HasValue ? Model.AdvandPayment.Value.ToString("N0") : "")</td>
                    <td class="text-right">@(Model.AdvandPaymentUSD.HasValue ? Model.AdvandPaymentUSD.Value.ToString("N0") : "")</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <strong>Phí ngân hàng</strong>
                        @*<i>(Bank charge)</i>*@:
                    </td>
                    <td class="text-right">@(Model.BankingCharge.HasValue ? Model.BankingCharge.Value.ToString("N0") : "")</td>
                    <td class="text-right">@(Model.BankingChargeUSD.HasValue ? Model.BankingChargeUSD.Value.ToString("N0") : "")</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <strong>Tổng cộng</strong>
                        @*<i>(Total)</i>*@:
                    </td>
                    <td class="text-right">@Model.Total.ToString("N0")</td>
                    <td class="text-right">@(Model.TotalUSD.HasValue ? Model.TotalUSD.Value.ToString("N0") : "")</td>
                </tr>
                <tr>
                    <td>
                        <strong> Bằng chữ </strong>
                        @*<i>(in words): </i>*@         :
                    </td>
                    <td colspan="5">@Model.InWords</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>