@model WebLib.Models.fwMenu

@{
    ViewBag.Title = "Chỉnh sửa Menu";
}
@using (Html.BeginForm("EditMenu", "WebLib", new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="col-sm-6">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group fg-line">
            <label for="Title">Tên menu <span class="color-red">*</span></label>
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="form-group">
            <label for="ParentID">Menu cha</label>
            <div class="select">
                <select name="ParentID" class="form-control">
                    <option value="0">None</option>
                    @foreach (var item in new WebLib.DAL.fwMenuDAL().ListAll().Where(m => m.ParentID == null || m.ParentID == 0))
                    {
                        <option value="@item.ID" @(Model.ParentID == item.ID ? "selected" : null)>@item.Title</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ParentID)
            </div>
        </div>

        <div class="form-group">
            <label for="Url">Link</label>
            <div>
                @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Url)
            </div>
        </div>
        <div class="form-group">
            <label for="SubAction">SubAction</label>
            <div>
                @Html.TextBoxFor(model => model.SubAction, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubAction)
            </div>
        </div>
        <div class="form-group">
            <label for="Icon">Icon</label>
            <div>
                @Html.TextBoxFor(model => model.Icon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Icon)
            </div>
        </div>

        <div class="form-group">
            <label for="Order">Thứ tự</label>
            <div>
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order)
            </div>
        </div>

        <div class="form-group">
            <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" name="Actived" value="true" @(Model.Actived ? "checked" : "") />
                <i class="input-helper"></i>
                Actived
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a href="@Request.QueryString["returnUrl"]" class="btn btn-default">Hủy</a>
        </div>
    </div>
}