@using WebLib.DAL;
@model List<WebLib.Models.fwUser>

@{
    ViewBag.Title = "Danh sách người dùng";
    int k = 1;
}

<div class="col-md-12">
    <p>
        <a href="@Url.Action("EditUser", new { returnUrl = Request.RawUrl })" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Tạo người dùng</a>
    </p>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Username
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(k++)
                </td>
                <td>
                    <a href="@Url.Action("EditUser", new { id = item.ID, returnUrl = Request.RawUrl })">@item.UserName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = item.ID, returnUrl = Request.RawUrl }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID, tableName = "fwUser", returnUrl = Request.RawUrl }, new { @class = "confirmDelete" })
                </td>
            </tr>
        }

    </table>

</div>