@model List<WebLib.Models.fwGroup>

@{
    ViewBag.Title = "Các nhóm người dùng";
}

<p>
    <a href="@Url.Action("EditGroup", new { returnUrl = Request.RawUrl })" class="btn btn-primary">Tạo nhóm</a>
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("AddUserToGroup", new { groupID = item.ID })" >@item.Title</a>
            </td>
            <td>
                <a href="@Url.Action("AddRoleToGroup", new { id = item.ID })">Roles</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGroup", new { id = item.ID, returnUrl = Request.RawUrl }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID, tableName = "fwGroup", returnUrl = Request.RawUrl }, new { @class = "confirmDelete" })
            </td>
        </tr>
    }

</table>
